{% extends 'layout/base.html' %}
{% block content %}
    <!--/#header-->

    <section id="home-slider" >
       
                <!-- <img src="images/home/slider/slide1/house.png" class="img-responsive slider-house" alt="slider image"> -->
                <!-- <img src="images/home/slider/slide1/circle1.png" class="slider-circle1" alt="slider image">
                <img src="images/home/slider/slide1/circle2.png" class="slider-circle2" alt="slider image">
                <img src="images/home/slider/slide1/cloud1.png" class="slider-cloud1" alt="slider image">
                <img src="images/home/slider/slide1/cloud2.png" class="slider-cloud2" alt="slider image">
                <img src="images/home/slider/slide1/cloud3.png" class="slider-cloud3" alt="slider image">
                <img src="images/home/slider/slide1/sun.png" class="slider-sun" alt="slider image">
                <img src="images/home/cycle.png" class="slider-cycle" alt=""> -->
                <div class="container" style="margin-top: -50px;">
                    <div class="row">
                        <div class="col-sm-6" >
                            <div class="main-slider" style="margin-bottom: 10px; margin-top: -25px">
                                <div class="slide-text" style="margin-top: -17px;">
                                    <h2>We Are Masters</h2>
                                    <p>Do you need help with your childs or wards academic performance?
                                    Do you need a coach/ tutor regarding that Examination? local or International</p>
                                   <p> Do you need help with learning and understanding foreign languages</p>
                                   <p> Worry no more! as we got your back.</p>
                                    <p>Pick from our database of dedicated professional from around the world.</p>
                                    <a href="{{url_for('reg')}}" class="btn btn-common">SIGN UP</a>
                                    <a href="{{url_for('tutor_reg')}}" class="btn btn-common">TUTOR - SIGN UP</a>
                                </div>
                                </div>
                            
                        </div>
                        <div class="col-sm-6 " id="md-teach-container">
                            <div id="carousel-container">
                                <div id="carousel-example-generic" class="carousel slide"  data-ride="carousel" >
                                                
                                    <div class="carousel-inner">
                                        <div class="item active" >
                                            <img src="/static/images/new/home0.jpg" class="md-teach-img"  alt="slider image">
                                            <div class="carousel-caption">
                                               <h2 style="color:black;">Need help with your childs or wards academic performance</h2>
                                            </div>
                                        </div>
                                        <div class="item" >
                                            <img src="/static/images/new/language1.jpg" class="md-teach-img"  alt="slider image">
                                            <div class="carousel-caption">
                                              <!--  <h2 style="color:black;">Need help with your childs or wards academic performance</h2> -->
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="/static/images/new/home7.jpg"  class="md-teach-img-a"    alt="slider image">
                                            <div class="carousel-caption" style="margin-top: 50px;">
                                                <h2 style="color:black;">Pick from Our database of qualified and cultured tutors</h2>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="/static/images/new/home8.jpg"  class="md-teach-img-b"   alt="slider image">
                                            <div class="carousel-caption" >
                                                <h2 style="color:black;">Online and home tutors</h2>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="/static/images/new/home9.jpg"  class="md-teach-im-b"   alt="slider image">
                                            <div class="carousel-caption">
                                                <h2 style="color:black;">Succeess guarranteed</h2>
                                            </div>
                                        </div>
                                    </div>
                                   </div>
                                </div>
                        </div>
                    </div>
                </div>
            
            
    
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/new/ho2.jpg" alt="">
                        </div>
                        <h2>One to One</h2>
                        <p>Get one to one coaching for your kids, or for that examination</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/new/ho3.jpg" alt="">
                        </div>
                        <h2>Online and Home Tutors</h2>
                        <p>Distance is not a barrier, with our online coaching via Zoom, and Google meet</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/new/ho4.jpg" alt="">
                        </div>
                        <h2>Success Guarranteed</h2>
                        <p>As a major player in the game, and with our database of Excellent and Qualified tutors. Success is Guarranteed</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                           <!--  <h1 class="title">Triangle Corporate Template</h1>
                            <p>A responsive, retina-ready &amp; wide multipurpose template.</p> -->
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/new/covid.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Covid-19 Safety Procedure Observed</h2>
                        <P>Because we care for everyone. We ensure that our tutors and clients abide by the covid safety procedure</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P> We make our passion (teaching ) our profession</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/new/teacherr.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/new/home10.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>No matter your level</h2>
                        <P>We carry everyone along </P>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->

    
    <!--/#clients-->
{% endblock %}